@model tema2ps.Models.DBModel.Repositories.enrollment

@{
    ViewBag.Title = "CreateEnrollment";
}

<h2>CreateEnrollment</h2>


@using (Html.BeginForm("CreateEnrollment", "Student", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>enrollment</h4>
       


        <div class="form-group">
            @Html.LabelFor(model => model.courseID, "courseID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("courseID", new SelectList(ViewBag.courseID, "id", "name"))
                @Html.ValidationMessageFor(model => model.courseID, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewEnrollments")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
